<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/stylesheets/style.css" rel="stylesheet"/>
    <title>Registration Form</title>
</head>
<body>
    <h1>2023 Pickle ball</h1>
    <h2>Registration Form</h2>


<form method="POST" action='./api/add-players'>
    <input type="text" name="firstName" placeholder="Enter your first name" required />

    <input type="text" name="lastName" placeholder="Enter your last name" required/>

    <input type="text" name="email" placeholder="Enter your Email" required/>

    <input type="text" name="phoneNumber" placeholder="Enter your phone number" required/>

    <button type="sumbit">Submit</button>

    <nav>
        <a id='page-link' href="./">Home</a>
    </nav>


</form>
</body>
</html>