<h1>Registration Form</h1>

<form method="POST" action='./api/add-players'>
    <input type="text" name="firstName" placeholder="Enter your first name" required />

    <input type="text" name="lastName" placeholder="Enter your last name" required/>

    <input type="text" name="email" placeholder="Enter your Email" required/>

    <input type="text" name="phoneNumber" placeholder="Enter your phone number" required/>

    <button type="sumbit">Submit</button>

    <hr/>
    <a href="./">Home</a>
</form>