<html>
  <head>
    <link href= "/public/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div>
      <h1 id="title">Players Registered</h1>
    </div>

   <div id="players">
    <% playersData.map(player => { %>
      <p><a href="/player"><%= player.firstName %></a></p>  
      <!-- <p><%= player.firstName %></p> -->
  <% }) %>
   </div>

<hr/>

<a href="./register">Register player</a>
  </body>
</html>